<div class="quiz">
	<mat-card>
		<mat-card-header>
			<mat-card-title>Quiz</mat-card-title>
		</mat-card-header>

		<mat-card-content class="card-content">
			<div class="word-lang">English</div>
			<div class="word">{{ word.en }}</div>
			<div class="word-class">{{ word.wordClass }}</div>
			<div class="translation-lang">Russian</div>
			<div class="translation">
				<input type="text" id="translation" name="translation" required [(ngModel)]="translation" />
				<span class="evaluate" [hidden]="!isEvaluated">
					<span *ngIf="isCorrect; else incorrect">Correct</span>
					<ng-template #incorrect>
						<span>Wrong</span>
					</ng-template>
				</span>
				<span class="reveal" [hidden]="!isRevealed">{{ word.ru }}</span>
			</div>
		</mat-card-content>
		
		<mat-card-actions class="card-actions">
			<button mat-button (click)="evaluate()">Check</button>
			<button mat-button (click)="reveal()">Reveal</button>
			<button mat-button (click)="next()">Next</button>
		</mat-card-actions>
	</mat-card>
</div>